<p id="notice"><%= notice %></p>

<p>
  <b>Libelle:</b>
  <%= @type_personne.libelle %>
</p>


<%= link_to 'Edit', edit_type_personne_path(@type_personne) %> |
<%= link_to 'Back', type_personnes_path %>
