<h1>Accueil</h1>
<table>
  <tr class = "entete">
    <th style = "width:400px;">Nom</th>
    <th></th>
  </tr>
<% compteur = 0 %>
<% chaines = Chaine.all %>
<% chaines.each do |chaine| %>
<% compteur = compteur + 1 %>
  <tr class = "table<%= compteur%2 %>">
    <td style = "font-weight:bold; text-align:center;"><%= chaine.nom %></td>
    <td><%= link_to 'Consulter les programmes', chaine,  :class=>"btn btn-primary btn-attribute"  %></td>
<% end %>
</table>
<br/>