@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lato|Fjalla+One);

html,body,div {
	margin:0;
	padding:0;
	height:100%;
}
body {
	background: url("bg.png") !important;
}
#global {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background: rgba(0,0,0,0.4);
	min-height: 150%;
	position: relative;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding-top: 10px;
}
#header {
	width:900px;
	height:80px;
	background: rgb(224,217,25);
	margin-top: -25px;
	border-bottom: 1px solid black;
}
#header h1 {
	font-size: 30px;
	margin-top: 15px;
	margin-bottom: 0px;
	margin-left: 20px;
	padding-top: 10px;
	font-family: 'Fjalla One';
	color:black;
}
#header h2 {
	font-size: 12px;
	color: #BBB;
	margin-top:-10px;
	padding-left: 40px;
	font-family: 'Lato';
	color:#555;
	letter-spacing: -1px;
}
#contenu {
	padding-left: 20px;
	padding-right: 20px;
}
h1 {
	font-family: 'Fjalla One';
	font-size:24px;
	color:#CCC;
}
h2 {
	font-family: 'Fjalla One';
	font-size: 18px;
	color: #999;
}

a, a:visited {
	color:white !important;
}

.btn-attribute {
	background-image: -moz-linear-gradient(top, #00CC00, #269926);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00CC00), to(#269926));
	background-image: -webkit-linear-gradient(top, #00CC00, #269926);
	background-image: -o-linear-gradient(top, #00CC00, #269926);
	background-image: linear-gradient(to bottom, #00CC00, #269926);
	background-repeat: repeat-x;
	border-color: #555;
}
.btn-attribute:hover {
	background-color:#269926;
}

.btn-modifier {
	background-image: -moz-linear-gradient(top, #08C, #04C);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#04C));
	background-image: -webkit-linear-gradient(top, #08C, #04C);
	background-image: -o-linear-gradient(top, #08C, #04C);
	background-image: linear-gradient(to bottom, #08C, #04C);
	background-repeat: repeat-x;
	border-color: #04C #04C #002A80;
}
.btn-modifier:hover {
	background-color:#04C;
}

.btn-supprimer {
	background-image: -moz-linear-gradient(top, #FF0000, #A60000);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF0000), to(#A60000));
	background-image: -webkit-linear-gradient(top, #FF0000, #A60000);
	background-image: -o-linear-gradient(top, #FF0000, #A60000);
	background-image: linear-gradient(to bottom, #FF0000, #A60000);
	background-repeat: repeat-x;
	border-color: #555;
}
.btn-supprimer:hover {
	background-color:#A60000;
}

.btn-chaine {
	min-width: 100px;
	background-image: -moz-linear-gradient(top, #3b6496, #688ab5);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b6496), to(#688ab5));
	background-image: -webkit-linear-gradient(top, #3b6496, #688ab5);
	background-image: -o-linear-gradient(top, #3b6496, #688ab5);
	background-image: linear-gradient(to bottom, #3b6496, #688ab5);
}
.btn-chaine:hover {
	background-color: #688ab5;
}
.headerBouton {
	background-image: -moz-linear-gradient(top, #999, #AAA);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#aaa));
	background-image: -webkit-linear-gradient(top, #999, #AAA);
	background-image: -o-linear-gradient(top, #999, #AAA);
	background-image: linear-gradient(to bottom, #999, #AAA);
	background-repeat: repeat-x;
	border-color: #888;
	float:right;
	margin-top:-70px;
	margin-right: 20px;
	font-size: 14px;
	line-height: 12px;
}
.headerBouton:hover {
	background-position: 0px -100px;
	background-color:#AAA;
}

.headerEnregistrement {
	background-image: -moz-linear-gradient(top, #FF0000, #A60000);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF0000), to(#A60000));
	background-image: -webkit-linear-gradient(top, #FF0000, #A60000);
	background-image: -o-linear-gradient(top, #FF0000, #A60000);
	background-image: linear-gradient(to bottom, #FF0000, #A60000);
	background-repeat: repeat-x;
	border-color: #555;
	float:right;
	margin-top:-70px;
	margin-right: 170px;
	font-size: 14px;
	line-height: 12px;
}
.headerEnregistrement:hover {
	background-position: 0px -100px;
	background-color:rgba(166,0,0,0.8);
}

.titreTableau {
	margin-bottom: 20px;
	border-spacing: 2px;
	border:1px solid #555;
	background-color: rgba(0,0,0,0.2);
	padding:10px;
}
th {
	margin-bottom: 20px;
	border-spacing: 2px;
	border:none;
	border-top: 1px solid #555;
	background-color: rgba(0,0,0,0.8);
	padding:10px;
	font-family: 'Fjalla One';
	font-size: 16px;
	color:#999;
}
.entete {
	border-right:1px solid #555;
	border-left:1px solid #555;
}

.table0 {
	margin-bottom: 20px;
	border-spacing: 2px;
	border:1px solid #555;
	background-color: rgba(0,0,0,0.8);
	padding:10px;
	color:#DDD;
}

.table1 {
	margin-bottom: 20px;
	border-spacing: 2px;
	border:1px solid #555;
	background-color: rgba(30,30,30,0.8);
	padding:10px;
	color:#DDD;
}

td {
	padding:10px;
	font-family: 'Lato' !important;
	font-size: 20px !important;
	font-weight: normal !important;
}
.petitTd {
	font-size: 16px !important;
}
.grandTd {
	font-family: "Time news roman" !important;
}
.marge {
	width:50px;
}
select {
	width:110px;
}
#programme_debut_1i, #programme_fin_1i,#programme_debut_3i, #programme_debut_4i, #programme_debut_5i,#programme_fin_3i, #programme_fin_4i, #programme_fin_5i {
	width:70px;
}
input[type=number] {
	width:40px;
}